---
import { Button } from '@/components/starwind/button'
import { Image, getImage } from 'astro:assets'
import bgSection from '@/assets/about-bg.png'

const optimizedBackground = await getImage({ src: bgSection, format: 'avif' })
---

<section class="min-h-138 w-full bg-cover bg-position-[center_85%] bg-no-repeat relative about-bg overflow-hidden" style={`background-image: url(${optimizedBackground.src});`}>
    <div class="absolute inset-0 bg-secondary/90 transition-opacity duration-300 group-hover:opacity-0"></div>
    <div class="container relative z-10">
        <div class="flex flex-col md:flex-row items-center">
            <div class="py-10 md:py-20 max-w-4xl z-10 relative">
                <h2 class="font-heading text-4xl md:text-6xl mb-8 text-white">О нас</h2>
                <p class="md:text-lg text-white/80 mb-6 md:mb-12">
                    Для того, чтобы подчеркнуть значимость ушедшего из жизни человека, на его могиле устанавливают памятник. Этим родные и близкие стараются как можно сильнее выразить боль утраты и большую скорбь. В ходе создания самого надгробия
                    подчёркивается индивидуальность и главные особенности характера усопшего.Виды и формы памятников Надгробные памятники подразделяются на две категории: по материалу и форме исполнения.
                </p>
                <Button href="#" variant="primary" size="lg" class="shadow-lg shadow-primary/25 px-10 w-full md:w-auto"> Связаться с нами</Button>
            </div>
            <div class="md:absolute md:-right-50 md:-bottom-10 w-[600px] md:w-auto -mt-5">
                <Image src={import('@/assets/angel.png')} alt="angels" class="w-full" />
            </div>
        </div>
    </div>
</section>
