@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--starwind-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--starwind-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@theme inline {
  --color-primary: #ffb04f;
  --color-secondary: #271907;
  --color-foreground: #fff;
  --font-sans: var(--font-base), sans-serif;
  --font-heading: var(--font-heading);

  --color-link-breadcrumbs: oklch(1 0 0 / 0.8);

  --radius-2xl: 20px;
}

@layer base {
  body {
    @apply text-secondary font-sans;
  }
  button {
    @apply cursor-pointer;
  }
}

@utility container {
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.c-breadcrumbs__link {
  color: var(--color-link-breadcrumbs);
}
