@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--starwind-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--starwind-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@theme inline {
    --color-primary: #ffb04f;
    --color-secondary: #271907;
    --color-foreground: #fff;
    --color-link-breadcrumbs: oklch(1 0 0 / 0.8);
    --color-card: #f6f6f6;
    --color-border: #f6f6f6;

    --color-input: var(--color-neutral-200);

    --color-popover: var(--color-neutral-50);
    --color-popover-foreground: var(--color-neutral-950);

    --font-sans: var(--font-base), sans-serif;
    --font-heading: var(--font-heading);

    --radius-2xl: 20px;

    --breakpoint-2xl: 87.5rem;
}

@layer base {
    body {
        @apply text-secondary font-sans;
    }
    button {
        @apply cursor-pointer;
    }
}

@utility container {
    padding-inline: 1.5rem;
    margin-inline: auto;
}

.c-breadcrumbs__link {
    color: currentColor !important;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}
