---
import '@/styles/main.css'
import { Font } from 'astro:assets'

import Header from '@/components/app/Header.astro'
import Footer from '@/components/app/Footer.astro'
import { Toaster } from '@/components/starwind/toast'
---

<!doctype html>
<html lang="ru" class="scroll-smooth">
    <head>
        <Font cssVariable="--font-base" preload />
        <Font cssVariable="--font-heading" preload />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body class="relative" class:list={Astro.params.slug && 'bg-[#F6F6F6]'}>
        <Header />
        <main class="overflow-x-hidden">
            <slot />
        </main>
        <Footer />
        <Toaster position="bottom-right" />
    </body>
</html>
